body{
    font-family: sans-serif;
    width: min-content;
}

.container{
    width: 1280px;
    margin: 60px 100px 30px 100px;
    display: flex;
    flex-wrap: wrap;
}
.header{
    width: 1280px;
    height: 190px;
}

.brand{
    margin: 0;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
}

span{
    color: #4BCAFF;
}
.navbar{
    display: flex;
    margin-top: 38px;
    background-color: #35444F;
    height: 60px;
    justify-content: center;

}
.navbar-nav{
    display: inline-flex;
    align-items: center;
    list-style: none;
    margin: 0;
}

.navbar-link{
    padding: 33px;
    color: #ffffff;
    font-size: 24px;
    border: 1px solid #FFFFFF;
}
.main{
    display: flex;
    margin-top: 50px;
}
.menu{
    flex-direction: column;
    list-style: none;
    border: 1px solid #000000;
    width: 344px;
    height: 399px;
    position: absolute;
    justify-content: center;
}
.menu li {
    padding-top: 25px;
    padding-bottom: 25px;
}

.menu-link{
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    margin: 50px;
}
.content{
    margin-left: 396px;
}
.img-fon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
}
.footer{
    display: flex;
    background-color: #63696E7A;
    align-items: center;
    font-weight: 400;
    margin-top: 50px;
    width: 1280px;
    height: 69px;
}
.footer-nav{
    display: inline-flex;
    margin-left: 40px;
    padding: 0;
    list-style: none;
    align-items: center;
}
.footer-link{
    color: #0C1927;
    padding-right: 30px;
    font-size: 28px;
    line-height: 28px;
}
.footer-right{
    color: #010101;
    font-size: 24px;
    line-height: 24px;
    padding-right: 40px;
    margin-left: auto;
}